nav {
    box-shadow: 0 0 2px rgb(100, 100, 100);
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: auto;
    height: 80px;
    margin-left: 2rem;
}

.right-side {
    list-style: none;
    margin-right: 4rem;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.right-side li a {
    text-decoration: none;
    color: white;
}

button {
    background-color: transparent;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 300ms ease;
}

button:focus,
button:hover {
    background-color: white;
    color: rgb(35, 35, 35);
}